<%= flash[:notice] %>
<h1>你好</h1>
<%= link_to '新增候選人', new_candidate_path %>

<ul>
  <% @candidates.each do |candidate| %>
    <li>
      <%= candidate.name %>
      <%= candidate.votes.size %>
      <%= link_to '投票', vote_candidate_path(candidate), method: :post, data:{confirm:'你確定嗎?'} %>
    </li>
  <% end %>
</ul>


